<p class="title">Edition section A propos</p>

{{ form_start(aboutForm, {'action' : path('admin_about'), 'attr' : {'id' : 'aboutForm'}}) }}

<div class="about__form">
    <div class="form__column">
        {{ form_label(aboutForm.firstName) }}
        {{ form_widget(aboutForm.firstName) }}
        {{ form_label(aboutForm.lastName) }}
        {{ form_widget(aboutForm.lastName) }}
        {{ form_label(aboutForm.cv) }}
        {{ form_widget(aboutForm.cv) }}
    </div>
    <div class="form__column">
        {{ form_label(aboutForm.description) }}
        {{ form_widget(aboutForm.description) }}
        {{ form_label(aboutForm.about) }}
        {{ form_widget(aboutForm.about) }}

        
    </div>
</div>

<div class="columnContainer--center">
    {{ form_label(aboutForm.profilImage) }}
    {{ form_widget(aboutForm.profilImage) }}
</div>

<div class="form__divButton">
    <button type="submit">Editer</button>
</div>
{{ form_end(aboutForm)}}