{% extends 'base.html.twig' %}

{% block title %}Bienvenue - SABIO Florent{% endblock %}

{% block body %}

<div class="modal" id="modal__sendMail">
	<div class="modal__div__close">
		<i class="fas fa-times deleteModalClose button"></i>
	</div>

    <div id="formMail">
    </div>
</div>

<div class="sendMail button" id="btnContact">
    <p>Me contacter <i class="far fa-envelope"></i></p>
</div>

<img alt="Photo de mon profil" src="{{ asset('medias/profil/' ~ admin.profilImage.imageName) }}" class="profil__image" id="profilImage">

    <header class="header container--center">
        <img alt="Superbe image illustarnt le developpement web" src="{{ asset('medias/hero.jpg') }}" class="header__img">
    </header>
    <section class="about" id="about">
        <div class="div--row div--dark about__div--large">
            {% set age = "now"|date("Y") - 2001 %}
            <div class="div--column div--space-between">
                <div class="about__name">
                    <p class="title title--white">{{ admin.lastName }} {{ admin.firstName }}</p>
                    <p class="title--white">{{ age }} ANS</p>
                </div>
                <div class="about__job">
                    <p class="title--white">{{ admin.about }}</p>
                    <a href="{{ asset('medias/' ~ admin.cvPath) }}" target="newblank"><button type="button" class="button">Voir mon CV</button></a>
                </div>
            </div>

            <div class="div--row div--small div--light div--rounded-top div--end about__div">
                <div class="about__description">
                    {{ admin.description }}
                </div>
            </div>
        </div>
    </section>
    <section class="skills" id="skills">
        {% include "/skills/index.html.twig" %}
    </section>
    <section class="experiences" id="experiences">
        {% include "/experiences/index.html.twig" %}
    </section>
    <section class="projects" id="projects">
        {% include "/project/index.html.twig" %}
    </section>

    <script src="{{ asset('js/timeline.min.js') }}"></script>
    <script src="{{ asset('js/app.js') }}"></script>
    <script src="{{ asset('js/patchNote.js') }}"></script>

    <script>
        var progressSkill = document.getElementsByClassName("skills__progress");
        progressSkill[0].classList.add('progress--active');

        function infoSkill(id)
        {
            var skillId = id.split('_')[1];
            var url = "/skills/" + skillId;
            var section = document.getElementById("infos-skills");

            axios.get(url).then(function(response) {
                section.innerHTML = response.data;

                var actives = document.querySelectorAll(".progress--active");

                actives.forEach(active => {
                    active.classList.remove("progress--active");
                })

                document.getElementById(id).classList.add("progress--active");
            });
        }
    </script>
{% endblock %}
