@import "./Pages/patchNote";
@import "./Pages/about";
@import "./Pages/skills";
@import "./Pages/experiences";
@import "./Pages/projects";
@import "./Pages/dashboard";
@import "./Pages/footer";
@import "./Layout/container";
@import "./Base/reset";
@import "./Components/components.scss";
@import "./Components/table.scss";
@import "./Vendors/carousel.scss";

.login__div, .modal {
    width: 500px;
    height: 300px;
    background-color: #D9D9D9;
    border: solid 5px #767676;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    display:none;
    font-weight: bold;
    color: #767676;
    font-size: 0.5rem;
    padding: 1em;
    text-align: center;

    .login__div__close, .modal__div__close {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: end;
        padding: 1em;
    }

    #loginForm {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        margin: 1em 0;
    }
}