.html--disabled {
  height: 100%;
  overflow-y: hidden;
}

.body--disabled {
  opacity: 0.5;
  pointer-events: none;
}

.patchNote {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 1em;
  z-index: 10;
  background-color: #767676;
  width: 40vw;
  height: 80vh;
  border: solid 4px rgb(192, 4, 4);
}
.patchNote h1 {
  font-size: 1.2rem;
}
.patchNote h2 {
  font-size: 1.2rem;
}
.patchNote h3 {
  font-size: 0.8rem;
}
.patchNote__header {
  display: flex;
  justify-content: space-between;
}
.patchNote__warning {
  padding: 1em;
  font-size: 0.7rem;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
}
.patchNote__notes {
  margin-top: 2em !important;
}
.patchNote__notes {
  max-height: 400px;
  overflow-y: scroll;
}

.dropdown {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #D9D9D9;
  padding: 1em;
}
.dropdown__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.dropdown__item {
  height: 200px;
  overflow-y: scroll;
  display: none;
}

.ulProjectSkills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.header {
  background-color: #0049B8;
  opacity: 0.6;
  height: 40vh;
}
.header .header__img {
  width: 70vw;
}

.about .about__name {
  padding: 1em 0 0 2em;
}
.about .about__job {
  width: 100%;
  padding: 0 0 2em 2em;
  display: flex;
  justify-content: space-around;
}
.about .about__job a {
  display: flex;
}
.about .about__description {
  width: 70%;
  overflow-y: scroll;
}
.about .about__div--large {
  height: 60vh;
  justify-content: space-between;
}
.about .about__div {
  margin: 1em 0 0 0;
  padding: 1em;
}

.profil__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 3;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
}

.profil__image--edit {
  display: block;
  position: relative;
  margin-top: 1em;
}

.sendMail {
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 0.5em;
  margin-top: 1em;
  color: #fff;
  background-color: #767676;
  padding: 1em;
  border-radius: 5px;
  z-index: 10;
  border: solid 1px #fff;
}
.sendMail:hover {
  opacity: 0.7;
  transform: scale(1.1);
}

#modal__sendMail {
  position: fixed;
}
#modal__sendMail h1 {
  margin: 0 0 1em 0;
  text-align: left;
}
#modal__sendMail .mail__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
#modal__sendMail .mail__content {
  margin-top: 1em;
  height: 120px;
  overflow-y: scroll;
  overflow-x: hidden;
}
#modal__sendMail textarea {
  width: 100%;
  margin-top: 1em;
}
#modal__sendMail button {
  margin-top: 1em;
}

.skills__content-progress {
  height: 65vh;
  padding: 2em 1em 1em 1em;
  overflow-y: scroll;
}
.skills__content-progress .skills__progress {
  width: 95%;
  height: 10%;
  display: flex;
  align-items: center;
}
.skills__content-progress .skills__label {
  font-size: 1.5em;
}

.skills__description {
  overflow-y: scroll;
  height: 45vh;
}

.infos-skills {
  width: 50%;
  padding: 1em;
  text-align: center;
}
.infos-skills__description {
  color: #fff;
}
.infos-skills p i {
  font-size: 3em;
  margin: 0 0 0.5em 0;
}
.infos-skills .skill__name {
  flex-direction: column;
}

.exp__description {
  text-align: center;
  color: #fff;
  height: 20vh;
  overflow-y: scroll;
}

#div__selectExp {
  display: flex;
  width: 10vw;
  flex-direction: column;
  justify-content: center;
}

#selectExps {
  margin-left: 3em;
  height: 5vh;
  margin-top: 1em;
}

.timelarge, #timeline {
  width: 100% !important;
}

.halflarge {
  width: 50% !important;
}

.project__title {
  text-align: center;
  padding: 1em;
}

#containerCards {
  min-height: 55vh;
}

#showProjects {
  position: absolute;
  background-color: #D9D9D9;
  z-index: 11;
  display: none;
  font-weight: bold;
  padding: 1em;
  width: 93vw;
  height: 87vh;
  border-radius: 10px;
  border: solid 2px #767676;
  opacity: 0.95;
}
#showProjects .modal__div__close {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
}
#showProjects .projectMedia {
  width: 90%;
  height: 500px;
  margin: 0 1em;
}

.div__projectPreview {
  display: none;
  width: 100%;
  text-align: center;
}
.div__projectPreview img {
  width: 80%;
  height: 60%;
}

#sectionShow ul {
  border-bottom: 2px solid #000;
}
#sectionShow ul li:last-child {
  margin-bottom: 1em;
}
#sectionShow #div--carousel {
  align-items: center;
}
#sectionShow .actionCarousel {
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}
#sectionShow .project__description {
  height: 50vh;
  overflow-y: scroll;
}

#divEditMedia {
  padding: 1em;
  margin-top: 1rem;
  width: 80vw;
  overflow-x: scroll;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
}
#divEditMedia .mediaRemove {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

#bodyAdmin {
  overflow-y: hidden;
}

#divDashboard {
  width: 100%;
}

.dashboard {
  overflow-y: hidden;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.dashboard nav {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 25vw;
  height: 100vh;
  border-right: solid 2px #D9D9D9;
}
.dashboard .nav__input {
  text-align: center;
  border-top: solid 1px #D9D9D9;
  border-bottom: solid 1px #D9D9D9;
  padding: 1em;
  width: 80%;
}
.dashboard .nav__input:hover {
  opacity: 0.6;
  color: #fff;
}
.dashboard .nav__input--active {
  background-color: #D9D9D9;
  color: #767676;
}
.dashboard .nav__input--activehover {
  opacity: 1;
}
.dashboard .about__form {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin: 2em 0;
}
.dashboard .form__column {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.dashboard .form__row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.dashboard .form__divButton {
  margin-top: 2em;
  display: flex;
  justify-content: center;
}
.dashboard .skillsTable, .dashboard .expTable, .dashboard .projectTable {
  padding: 1em;
}
.dashboard .mediaField ul li {
  display: flex;
}

footer {
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.5rem;
  padding: 1rem;
}
footer .social__icon {
  width: 50%;
  display: flex;
  font-size: 1.5rem;
  justify-content: space-evenly;
}
footer .icon {
  color: #767676;
  border: solid 2px #fff;
  padding: 0.4rem;
  border-radius: 10px;
}

.container--center {
  display: flex;
  justify-content: center;
}

.columnContainer--center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.halfDiv {
  width: 50vw;
  padding: 1em;
}

html {
  font-size: 30px;
  overflow-x: hidden;
}
html p {
  margin: 0;
}
html body {
  scroll-behavior: smooth;
  margin: 0;
}
html section {
  padding: 0 1em;
}
html article {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
html a, html a:link, html a:visited, html a:hover {
  color: #fff !important;
  text-decoration: none !important;
}
html a.link {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  color: initial;
}
html button {
  cursor: pointer !important;
}

.div--row {
  display: flex;
  flex-direction: row;
}

.div--column {
  display: flex;
  flex-direction: column;
}

.div--wrap {
  flex-wrap: wrap;
}

.div--space-between {
  justify-content: space-between;
}

.div--space-around {
  justify-content: space-around;
}

.div--end {
  justify-content: flex-end;
}

.div--dark {
  background-color: #767676;
}

.div--light {
  background-color: #D9D9D9;
}

.div--title {
  margin: 0 auto;
  justify-content: center;
}

.div--small {
  width: 50vw;
}

.div--padding {
  padding: 1rem;
}

.div--rounded-top {
  border-radius: 10px 10px 0 0;
}

.title {
  margin: 0;
  font-size: 1.8em;
}

.title--admin {
  margin-bottom: 2em;
}

.title--white {
  color: #fff;
}

.title--big {
  font-size: 4em;
}

.title--dark {
  color: #AAAAAA;
}

.title--light {
  color: #D9D9D9;
}

.progress--active {
  border: solid 1px #767676;
  padding: 0.3em;
}

.skills__progressBar {
  height: 100%;
  width: 80%;
  border-radius: 0;
  margin: 0 1em 0 1em;
}

.imgPreview {
  width: 25vw;
  height: 20vh;
}

.vich-image a img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 3;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  display: block;
  position: relative;
  margin-top: 1em;
}

#experiences_media .vich-image a img {
  border-radius: 0;
  width: 40vw;
  height: 20vw;
}

.button {
  cursor: pointer;
}

.alert {
  color: rgb(212, 83, 83);
}

.bold {
  font-weight: bold;
}

.zui-table {
  width: 100%;
  border: solid 1px #D9D9D9;
  border-collapse: collapse;
  border-spacing: 0;
  font: normal 13px Arial, sans-serif;
}

.zui-table thead th {
  background-color: #D9D9D9;
  border: solid 1px #D9D9D9;
  color: #767676;
  padding: 10px;
  text-align: left;
  text-shadow: 1px 1px 1px #fff;
}

.zui-table tbody td {
  border: solid 1px #D9D9D9;
  color: #000;
  padding: 10px;
}

.container {
  padding: 1rem;
  height: 300px;
  width: 96%;
  top: 60px;
  left: calc(50% - 300px);
  display: flex;
  overflow-x: scroll;
}

.card {
  display: flex;
  max-height: 380px;
  width: 400px;
  background-color: #767676;
  border-radius: 10px;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
  border: solid 2px #D9D9D9;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card .bar {
  position: absolute;
  left: 12.5%;
  height: 15px;
  width: 75%;
}

.card:not(:first-child) {
  margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.titleCard {
  color: white;
  font-weight: 300;
  margin-left: 1em;
  left: 20px;
  top: 15px;
  font-size: 20px;
}

.emptybar {
  background-color: #767676;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: #D9D9D9;
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  transform: width(20%);
  width: 100%;
  transition: 0.4s ease-out;
}

.circle {
  position: absolute;
  top: 150px;
  left: calc(50% - 60px);
}

.stroke {
  stroke: white;
  stroke-dasharray: 420;
  stroke-dashoffset: 420;
  transition: 0.6s ease-out;
}

svg {
  fill: #767676;
  stroke-width: 2px;
}

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}

.card:active body {
  height: 100%;
  overflow: hidden;
}

.login__div, .modal {
  width: 500px;
  height: 300px;
  background-color: #D9D9D9;
  border: solid 5px #767676;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  display: none;
  font-weight: bold;
  color: #767676;
  font-size: 0.5rem;
  padding: 1em;
  text-align: center;
}
.login__div .login__div__close, .login__div .modal__div__close, .modal .login__div__close, .modal .modal__div__close {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
  padding: 1em;
}
.login__div #loginForm, .modal #loginForm {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: 1em 0;
}

/*# sourceMappingURL=template.css.map */
