.div--row {
    display: flex;
    flex-direction: row;
}

.div--column {
    display: flex;
    flex-direction: column;
}

.div--wrap {
    flex-wrap: wrap;
}

.div--space-between {
    justify-content: space-between;
}

.div--space-around {
    justify-content: space-around;
}

.div--end {
    justify-content: flex-end;
}

.div--dark {
    background-color: #767676;
}

.div--light {
    background-color: #D9D9D9;
}

.div--title {
    margin: 0 auto;
    justify-content: center;
}

.div--small {
    width: 50vw;
}

.div--padding {
    padding: 1rem;
}

.div--rounded-top {
    border-radius: 10px 10px 0 0;
}

.title {
    margin: 0;
    font-size: 1.8em;
}

.title--admin {
    margin-bottom: 2em;
}

.title--white {
    color: #fff;
}

.title--big {
    font-size: 4em;
}

.title--dark {
    color: #AAAAAA;
}

.title--light {
    color: #D9D9D9;
}

.progress--active {
    border: solid 1px #767676;
    padding: 0.3em;
}

.skills__progressBar {
    height: 100%;
    width: 80%;
    border-radius: 0;
    margin: 0 1em 0 1em;

}

.imgPreview {
    width: 25vw;
    height: 20vh;
}

.vich-image a img{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 3;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    display: block;
    position: relative;
    margin-top: 1em;
}

#experiences_media .vich-image a img {
    border-radius: 0;
    width: 40vw;
    height: 20vw;
}

.button {
    cursor: pointer;
}

.alert {
    color: rgb(212, 83, 83);
}

.bold {
    font-weight: bold;
}