.zui-table {
    width: 100%;
    border: solid 1px #D9D9D9;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}

.zui-table thead th {
    background-color: #D9D9D9;
    border: solid 1px #D9D9D9;
    color: #767676;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}

.zui-table tbody td {
    border: solid 1px #D9D9D9;
    color: #000;
    padding: 10px;
}