.header {
    background-color: #0049B8;
    opacity: 0.6;
    height: 40vh;

    .header__img {
            width: 70vw;
        }
}

.about {

    .about__name {
        padding: 1em 0 0 2em;
    }

    .about__job {
        width: 100%;
        padding: 0 0 2em 2em;
        display: flex;
        justify-content: space-around;

        a {
            display: flex;
        }
    }
    .about__description {
        width: 70%;
        overflow-y: scroll;
    }

    .about__div--large {
        height: 60vh;
        justify-content: space-between;
    }

    .about__div {
        margin: 1em 0 0 0;
        padding: 1em;
    }

}
.profil__image {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    z-index: 3;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
}

.profil__image--edit {
    display: block;
    position: relative;
    margin-top: 1em;
}

.sendMail {
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 0.5em;
    margin-top: 1em;
    color: #fff;
    background-color: #767676;
    padding: 1em;
    border-radius: 5px;
    z-index: 10;
    border:solid 1px #fff;

    &:hover {
        opacity: 0.7;
        transform: scale(1.1);
    }
}

#modal__sendMail {
    position: fixed;
    
    h1 {
        margin: 0 0 1em 0;
        text-align: left;
    }

    .mail__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1em;
    }

    .mail__content {
        margin-top: 1em;
        height: 120px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    textarea {
        width: 100%;
        margin-top: 1em;
    }

    button {
        margin-top: 1em;
    }
}