#bodyAdmin {
    overflow-y: hidden;
}

#divDashboard {
    width: 100%;
}
.dashboard {
    overflow-y: hidden;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    nav {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 25vw;
        height: 100vh;
        border-right: solid 2px #D9D9D9;
    }

    .nav__input {
        text-align: center;
        border-top: solid 1px #D9D9D9;
        border-bottom: solid 1px #D9D9D9;
        padding: 1em;
        width: 80%;

        &:hover {
            opacity: 0.6;
            color: #fff;
        }
    }

    .nav__input--active {
        background-color: #D9D9D9;
        color: #767676;

        &hover {
            opacity: 1;
        }
    }

    .about__form {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        margin: 2em 0;
    }

    .form__column {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .form__row {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .form__divButton {
        margin-top: 2em;
        display: flex;
        justify-content: center;
    }

    .skillsTable, .expTable, .projectTable {
        padding: 1em;
    }

    .mediaField ul li {
        display: flex;
    }
}