.exp__description {
    text-align: center;
    color: #fff;
    height: 20vh;
    overflow-y: scroll;
}

#div__selectExp {
    display: flex;
    width: 10vw;
    flex-direction: column;
    justify-content: center;
}

#selectExps {
    margin-left: 3em;
    height: 5vh;
    margin-top: 1em;
}

.timelarge, #timeline {
    width: 100% !important;
}

.halflarge {
    width: 50% !important;
}

