footer {
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.5rem;
    padding: 1rem;

    .social__icon {
        width: 50%;
        display: flex;
        font-size: 1.5rem;
        justify-content: space-evenly;
        
    }

    .icon {
        color: #767676;
        border: solid 2px #fff;
        padding: 0.4rem;
        border-radius: 10px;
    }
}