.html--disabled {
    height: 100%;
    overflow-y: hidden;
}

.body--disabled {
    opacity: 0.5;
    pointer-events: none;
}

.patchNote {
    opacity: 1;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    padding: 1em;
    z-index: 10;
    background-color: #767676;
    width: 40vw;
    height: 80vh;
    border: solid 4px rgb(192, 4, 4);

    h1 {
        font-size: 1.2rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 0.8rem;
    }

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__warning {
        padding: 1em;
        font-size: 0.7rem;
        border-bottom: 1px solid #000;
        border-top: 1px solid #000;
    }

    &__notes {
        margin-top: 2em !important;
    }

    &__notes {
        max-height: 400px;
        overflow-y: scroll;
    }

}

.dropdown {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #D9D9D9;
    padding: 1em;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    &__item {
        height: 200px;
        overflow-y: scroll;
        display: none;
    }
}

.ulProjectSkills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}