.project__title {
    text-align: center;
    padding: 1em;
}

#containerCards {
    min-height: 55vh;
}

#showProjects {
    position: absolute;
    background-color: #D9D9D9;
    z-index: 11;
    display:none;
    font-weight: bold;
    padding: 1em;
    width: 93vw;
    height: 87vh;
    border-radius: 10px;
    border: solid 2px #767676;
    opacity: 0.95;
    
    .modal__div__close {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: end;
    }

    .projectMedia {
        width: 90%;
        height: 500px;
        margin: 0 1em;
    }
}


.div__projectPreview {
    display: none;
    width: 100%;
    text-align: center;

    & img {
        width: 80%;
        height: 60%;
    }
}

#sectionShow {
    ul {
        border-bottom: 2px solid #000;

        li:last-child {
            margin-bottom: 1em;
        }
    }

    #div--carousel {
        align-items: center;
    }

    .actionCarousel {
        font-size: 2rem;
        font-weight: bold;
        cursor: pointer;
    }

    .project__description {
        height: 50vh;
        overflow-y: scroll;
    }
}

#divEditMedia {
    padding: 1em;
    margin-top: 1rem;
    width: 80vw;
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;

    .mediaRemove {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }
}
