.skills__content-progress {
    height: 65vh;
    padding: 2em 1em 1em 1em;
    overflow-y: scroll;

    .skills__progress {
        width: 95%;
        height: 10%;
        display: flex;
        align-items: center;
    }

    .skills__label {
        font-size: 1.5em;
    }
}

.skills__description {
    overflow-y: scroll;
    height: 45vh;
}

.infos-skills {
    width: 50%;
    padding: 1em;
    text-align: center;

    &__description {
        color: #fff;
    }
    p i {
        font-size: 3em;
        margin: 0 0 0.5em 0;
    }

    .skill__name {
        flex-direction: column;
    }
}
