html {
    font-size: 30px;
    overflow-x: hidden;
    
    p {
        margin: 0;
    }
    
    body {
        scroll-behavior: smooth;
        margin: 0;
    }

    section {
        padding: 0 1em;
    }

    article {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    a, a:link, a:visited, a:hover {
    color: #fff !important;
    text-decoration: none !important;
    }
    
    a.link {
        -webkit-appearance: button;
        -moz-appearance: button;
        appearance: button;
        color: initial;
    }

    button {
        cursor: pointer !important;
    }
}