<div id="timeline">
	<div class="timeline timelarge">
		<div class="timeline__wrap">
			<div class="timeline__items halfLarge">
				{% for exp in experiences %}
						{% if exp == experiences[0] %}
							<div class="timeline__item halfLarge timeline__item--active button"  data-id="{{ exp.id }}">
								<div class="timeline__content" data-id="{{ exp.id }}" id="firstExp_{{ exp.id }}">
						{% else %}
							<div class="timeline__item halfLarge button" data-id="{{ exp.id }}" >
								<div class="timeline__content" data-id="{{ exp.id }}" id="itemExp_{{ exp.id }}">
						{% endif %}
							<p>{{ exp.name }}</p>
							<p>{{ exp.startedAt | date ('m-20y') }}</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>