{{ form_start(form, {'action' : path('admin_editExp',{'id' : experience.id }), 'attr' : {'id' : 'ExperienceEditForm'}}) }}

<div class="form_row">
	{{ form_label(form.name) }}
    {{ form_widget(form.name) }}
    {{ form_label(form.startedAt) }}
    {{ form_widget(form.startedAt) }}
    {{ form_label(form.endAt) }}
    {{ form_widget(form.endAt) }}
    {{ form_label(form.description) }}
    {{ form_widget(form.description) }}
    {{ form_label(form.type) }}
    {{ form_widget(form.type) }}
    {{ form_label(form.media) }}
    {{ form_widget(form.media) }}
</div>

<div class="form__divButton">
	<button type="submit">Editer l'experience</button>
	<button type="button" class="cancelEdit">Annuler</button>
</div>

{{ form_end(form) }}
