<div class="div--row div--title div--wrap">
	<h1 class="title--big title--light">Mes experiences</h1>
	<div id="div__selectExp">
		<select class="button" name="exps" id="selectExps">
			<option value="Dev">Devs</option>
			<option value="Divers">Diverses</option>
		</select>
	</div>
</div>

{% if experiences | length > 0 %}
<div class="div--row div--title div--light" id="divTimeline">
	{% include('experiences/_timeline.html.twig') %}
</div>	

<div class="div--row div--dark">
	<div class="div--row div--space-around div--padding" id="expDescription">
        <div class="exp__image">
			{% if experiences[0].media.imageName is defined %}
            	<img alt="illustration de l'expérience sélectionnée" src="{{ asset('medias/profil/' ~ experiences[0].media.imageName) }}" class="imgPreview">
			{% endif %}
        </div>
        <div class="exp__description" >
            <p>{{ experiences[0].description }}</p>
        </div>
    </div>
</div>	
{% endif %}		


