<div class="modal" id="modal__delete_experiences">
	<div class="modal__div__close">
		<i class="fas fa-times deleteModalClose"></i>
	</div>

	<p>Etes-vous sur de vouloir supprimer 
		<span class="spanDelete"></span>
		?</p>
	<a href="#" class="linkDelete">
		<button type="button" id="confirmDelete">OUI</button>
	</a>
	<button type="button" class="deleteModalClose">NON</button>
</div>

<p class="title title--admin">Edition section expériences</p>
<div class="formDiv">
    {{ form_start(formExp, {'action' : path('admin_listExp'), 'attr' : {'id' : 'experiences_form'}}) }}
    <div class="form_row">
        {{ form_label(formExp.name) }}
        {{ form_widget(formExp.name) }}
        {{ form_label(formExp.startedAt) }}
        {{ form_widget(formExp.startedAt) }}
        {{ form_label(formExp.endAt) }}
        {{ form_widget(formExp.endAt) }}
        {{ form_label(formExp.description) }}
        {{ form_widget(formExp.description) }}
        {{ form_label(formExp.type) }}
        {{ form_widget(formExp.type) }}
		{{ form_label(formExp.media) }}
        {{ form_widget(formExp.media) }}
    </div>

    <div class="form__divButton">
        <button type="submit">Ajouter l'expériences</button>
    </div>

    {{ form_end(formExp) }}
</div>

<div class="expTable">
	<table class="zui-table">
		<thead>
			<tr>
				<th>Nom</th>
				<th>Début</th>
				<th>Fin</th>
				<th>Description</th>
				<th>Type</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for exp in exps %}
				<tr>
					<td>{{ exp.name }}</p>
					<td>{{ exp.startedAt | date('m-yy') }}</td>
					<td>{{ exp.endAt | date('m-yy') }}</td>
					<td>{{ exp.description }}</td>
					<td>{{ exp.type == 1 ? 'Dev' : 'Autre'}}</td>
					<td>
						<button type="button" class="edit" id="editExp__{{ exp.id }}">
							<i class="fas fa-edit"></i>
						</button>
                    	<button type="button" class="delete" id="exp_{{ exp.id }}" data-name="{{ exp.name }}" data-id="{{ exp.id }}">
							<i class="fas fa-trash-alt"></i>
						</button>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
