<div class="exp__image">
    {% if experience.media.imageName is defined %}
	    <img alt="illustration de l'expérience sélectionnée" src="{{ asset('medias/profil/' ~ experience.media.imageName) }}" class="imgPreview">
    {% endif %}
</div>
<div class="exp__description">
	<p>{{ experience.description }}</p>
</div>