{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <div class="dashboard">
        <nav class="nav">
            <p class="nav__input nav__input--active" data-url="/about/list">A propos</p>
            <p class="nav__input" data-url="/skills/list">Compétences</p>
            <p class="nav__input" data-url="/experiences/list">Expériences</p>
            <p class="nav__input" data-url="/projects/list">Projets</p>
            <a href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i></a>
        </nav>

        <div id="divDashboard">
        </div>
    </div>
    
<script src="{{ asset('js/symfonyCollection.js') }}"></script>

<script>
    function loadSectionContent(url, section) {
        axios.get(url).then(function(response) {
            section.innerHTML = response.data;
            switch(url) {
                case '/about/list':
                    loadAboutForm();
                    break;
                case '/skills/list':
                    loadForm(['skills_form', 2]);
                    break;
                case '/experiences/list':
                    loadForm(['experiences_form', 3]);
                    break;
                case '/projects/list':
                    loadForm(['projects_form', 4])
                    loadSymfonyCollection();
                    break;
            }
        })
    }
    loadSectionContent("{{ section }}", document.getElementById('divDashboard'));
    var actives = document.querySelectorAll(".nav__input--active");
    actives.forEach(active => {
        active.classList.remove("nav__input--active");
    })
    
    document.querySelector('[data-url = "{{ section }}"]').classList.add("nav__input--active");
</script>

<script src="{{ asset('js/appAdmin.js') }}"></script>


{% endblock %}