<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Bienvenue !
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<link rel="stylesheet" href="{{ asset('css/template.css') }}">
        {% block stylesheets %}{% endblock %}

		<script src="https://kit.fontawesome.com/d8068975b7.js" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	</head>

	<body class="div--dark" id="bodyAdmin">
		{% block body %}{% endblock %}
	</body>

	{% block javascripts %}{% endblock %}
</html>

