<!DOCTYPE html>
<html class="html--disabled">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue !{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="{{ asset('css/template.css') }}">
        <link rel="stylesheet" href="{{ asset('css/Vendors/timeline.css') }}">
        
        {% block stylesheets %}

        {% endblock %}

        <script src="https://kit.fontawesome.com/d8068975b7.js" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>

    <body>
        {% include "patchNote.html.twig" %} 
        <div class="body--disabled div--dark" id="body">
            <div class="login__div">
                <div class="login__div__close">
                    <i class="fas fa-times" id="loginClose"></i>
                </div>
                <div id="loginDiv"></div>
            </div>

            {% block body %}{% endblock %}

            {% include "footer.html.twig" %}
        </div>
    </body>
        {% block javascripts %}

        {% endblock %}
</html>
