<footer>
    <div class="social__icon">
        <a target="newblank" href="https://gitlab.com/Redsilvernight"><i class="fab fa-gitlab button icon"></i></a>
        <a target="newblank" href=""><i class="fab fa-linkedin button icon"></i></a>
    </div>
    <h4>Tous droits réservés 2022 <span class="bold">SABIO Florent</span></h4>
</footer>