<div class="patchNote">
    <div class="patchNote__header">
        <div>
            <h1>Notes de mise à jour</h1>
            <h3>Bêta version - 0.8</h3>
        </div>
        <i class="fas fa-times patchNoteClose button"></i>
    </div>
    <div class="patchNote__warning">
        <p><span class="bold">Attention !</span> Ceci est la toute première version de mon portefolio. Pour une expérience optimale, <span class="bold">utilisez un ordinateur</span></span>. Il est toujours, et activement, en cours d'amelioration et développement. N'hésitez pas à me faire parvenir vos retours et/ou report de bug.</p>
    </div>
    <div class="patchNote__notes">
        <div class="dropdown">
            <div class="dropdown__header">
                <h2>Nouveautés</h2>
                <i class="fas fa-caret-down dropdown__button button" data-dropdownid="dropdown__news"></i>
            </div>
            <div class="dropdown__item" id="dropdown__news">
                <ul>
                    <li>Mise en ligne sur un vps.</li>
                    <li>Ajout d'une section "Projets"</li>
                    <li>Ajout d'une section "Expériences"</li>
                    <li>Ajout d'une section "Compétences" en lien avec la section "Projets"</li>
                    <li>Ajout d'une section "A propos"</li>
                    <li>Dévellopement de la modification d'une section</li>
                    <li>Dévellopement de la suppression d'une section</li>
                    <li>Dévellopement de la visualisation d'une section</li>
                    <li>Dévellopement de l'ajout d'une section</li>
                    <li>Dévellopement d'un panel administrateur</li>
                    <li>Mise en place d'un template simple</li>
                </ul>                
            </div>
        </div>
        <div class="dropdown">
            <div class="dropdown__header">
                <h2>A venir</h2>
                <i class="fas fa-caret-down dropdown__button button" data-dropdownid="dropdown__next"></i>
            </div>
            <div class="dropdown__item" id="dropdown__next">
                <ul>
                    <li>Amelioration du template de base</li>
                    <li>Amelioration du design général</li>
                    <li>Dévellopement du responsive</li>
                    <li>Correctifs de sécurités</li>
                </ul>
            </div>
        </div>
    </div>
</div>