<div class="modal" id="modal__delete_mediaProjects">
	<div class="modal__div__close">
		<i class="fas fa-times deleteModalClose"></i>
	</div>

	<p>Etes-vous sur de vouloir supprimer <span id="spanDelete"></span>?</p>
	<a href="#" id="linkDelete">
		<button type="button" id="confirmDelete">OUI</button>
	</a>
	<button type="button" class="deleteModalClose">NON</button>
</div>


{{ form_start(form, {'action' : path('admin_editProject',{'id' : project.id }), 'attr' : {'id' : 'ProjectEditForm'}}) }}

    <div class="form_row">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
        {{ form_label(form.createdAt) }}
        {{ form_widget(form.createdAt) }}
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
        {{ form_label(form.skills) }}
		{{ form_widget(form.skills) }}
        {{ form_label(form.medias) }}
    </div>

    <div class="mediaField">
        <ul id="project_editMedia" data-prototype="{{ form_widget(form.medias.vars.prototype) | e }}" data-widget-tags='liMedia_projet_' data-widget-counter="{{ form.medias|length }}"></ul>
        <button type="button" class="add-field" data-list-selector="#project_editMedia">
            <i class="far fa-plus-square"></i>
        </button>
    </div>

    <div class="form__divButton">
        <button type="submit">Editer le projet</button>
        <button type="button" class="cancelEdit">Annuler</button>
    </div>
{{ form_end(form, {render_rest: false}) }}


<h2>Editer les medias</h2>
<div id="divEditMedia">
    {% for media in project.medias %}
        <div class="mediaRemove" data-id="{{ media.id }}" data-name="{{ media.imageName }}">
            <img class="imgPreview" alt="preview du projet" src="{{ asset('medias/profil/' ~ media.imageName) }}"/>
            <button type="button"><i class="far fa-trash-alt fa-2x"></i></button>
        </div>
    {% endfor %}
</div>