<div id="showProjects">
	<div class="modal__div__close" id="closeShowProjects">
		<i class="fas fa-times deleteModalClose button"></i>
	</div>
	
	<div id="sectionShow">

	</div>
</div>

<div class="div--row div--title div--light">
	<h1 class="title--big title--dark">Mes Projets</h1>
</div>

<div class="container" id="containerCards">
	{% for project in projects %}
		<div class="card button" data-id="{{ project.id }}">
			<h3 class="titleCard">{{ project.name }}</h3>
			<div class="bar">
				<div class="emptybar"></div>
				<div class="filledbar"></div>
			</div>
			<div id="projectImage_{{ project.id }}">
				<div class="circle">
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg">
						<circle class="stroke" cx="60" cy="60" r="50"/>
					</svg>
				</div>
			</div>
			<div class="div__projectPreview" id="projectPreview_{{ project.id }}">
				<img class="projectPreview" src="{{ asset('medias/profil/' ~ project.medias[0].imageName) }}" alt="image d'illustrations"/>
			</div>
		</div>
	{% endfor %}
</div>


