<div class="modal" id="modal__delete_projects">
	<div class="modal__div__close">
		<i class="fas fa-times deleteModalClose"></i>
	</div>

	<p>Etes-vous sur de vouloir supprimer
		<span class="spanDelete"></span>
		?</p>
	<a href="#" class="linkDelete">
		<button type="button" id="confirmDelete">OUI</button>
	</a>
	<button type="button" class="deleteModalClose">NON</button>
</div>


<p class="title title--admin">Edition section projets</p>

<div class="formDiv">
	{{ form_start(formProject, {'action' : path('admin_listProjects'), 'attr' : {'id' : 'projects_form'}}) }}
	<div class="form_row">
		{{ form_label(formProject.name) }}
		{{ form_widget(formProject.name) }}
		{{ form_label(formProject.createdAt) }}
		{{ form_widget(formProject.createdAt) }}
		{{ form_label(formProject.description) }}
		{{ form_widget(formProject.description) }}
        {{ form_label(formProject.skills) }}
		{{ form_widget(formProject.skills) }}
        {{ form_label(formProject.medias) }}
	</div>
    <div class="mediaField">
        <ul id="project_addMedia" data-prototype="{{ form_widget(formProject.medias.vars.prototype) | e }}" data-widget-tags='liMedia_projet_' data-widget-counter="{{ formProject.medias|length }}">
        </ul>
        <button type="button" class="add-field" data-list-selector="#project_addMedia">
            <i class="far fa-plus-square"></i>
        </button>
    </div>

	<div class="form__divButton">
		<button type="submit">Ajouter le projet</button>
	</div>
	{{ form_end(formProject, {render_rest: false}) }}

</div>
<div class="projectTable">
    <table class="zui-table">
        <thead>
            <tr>
            <th>Nom</th>
            <th>Date</th>
            <th>Description</th>
            <th id="thSkills">Compétences</th>
            <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
                <tr>
                    <td>{{ project.name }}</p>
                    <td>{{ project.createdAt | date('m-yy') }}</td>
                    <td>{{ project.description }}</td>
                    <td>
                        {% for skill in project.skills %}
                            <p>{{ skill.name }}</p>
                        {% endfor %}
                    </td>
                    <td>
                        <button type="button" class="edit" id="editProjects__{{ project.id }}"><i class="fas fa-edit"></i>
                        </button>
                        <button type="button" class="delete" id="projects_{{ project.id }}" data-name="{{ project.name }}" data-id="{{ project.id }}">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
