<h1>{{ project.name }}</h1>

<ul class="ulProjectSkills">
    {% for skill in project.skills %}
        <li> <span style="color: {{ skill.color }};">{{ skill.icon | raw}}</span> {{ skill.name }}</li>
    {% endfor %}
</ul>

<div class="projectContent div--row div--space-around">
        <div class="halfDiv div--row" id="div--carousel" data-medias='{{ mediasProject | json_encode}}' data-counter="{{ mediasProject | length }}" data-now = "0">
            <div class="actionCarousel" data-action="previous">
                <p><</p>
            </div>
            <img class="projectMedia" src="{{ asset('medias/profil/' ~ project.medias[0].imageName) }}" alt="image d'illustrations" id="imgCarousel"/>
            <div class="actionCarousel" data-action="next">
                <p>></p>
            </div>
        </div>

        <div class="halfDiv project__description">
            <p>{{ project.description }}</p>
        </div>
</div>