{{ form_start(form, {'action' : path('admin_editSkill',{'id' : skill.id }), 'attr' : {'id' : 'skillEditForm'}}) }}

<div class="form_row">
	{{ form_label(form.name) }}
	{{ form_widget(form.name) }}
	{{ form_label(form.color) }}
	{{ form_widget(form.color) }}
	{{ form_label(form.value) }}
	{{ form_widget(form.value) }}
	{{ form_label(form.description) }}
	{{ form_widget(form.description) }}
	{{ form_label(form.icon) }}
	{{ form_widget(form.icon) }}
</div>

<div class="form__divButton">
	<button type="submit">Editer la compétence</button>
    <button type="button" class="cancelEdit">Annuler</button>
</div>

{{ form_end(form) }}
