<div class="div--row div--title div--light">
	<h1 class="title--big title--dark">Mes compétences</h1>
</div>

<article>
	<div class="div--column div--light div--small skills__content-progress">
	{% if skills|length > 0 %}
	    {% for skill in skills %}
			<div class="skills__progress button" onclick='infoSkill(this.id)' id="skillProgress_{{ skill.id }}">
				<label for="file" class="skills__label">
					{{ skill.icon | raw }}
				</label>
				<meter id="bar_{{ skill.id }}" class="skills__progressBar" min="0" max="100" value="{{ skill.value}}" optimum="50" data-language="{{ skill.name }}">{{ skill.name }}</meter>
				<p>{{ skill.value }}%</p>
			</div>
		{% endfor %}
	</div>

	<div class="infos-skills" id="infos-skills">
		<p class="title title--white">{{ skills[0].name }}</p>
		<p style="color: {{ skills[0].color }};">{{ skills[0].icon | raw}}</p>
		<div class="skills__description">
			<p class="infos-skills__description">{{ skills[0].description }}</p>
		</div>
	</div>
	{% endif %}
</article>
