<div class="modal" id="modal__delete_skill">
    <div class="modal__div__close">
        <i class="fas fa-times deleteModalClose"></i>
    </div>

    <p>Etes-vous sur de vouloir supprimer <span class="spanDelete"></span> ?</p>
    <a href="#" class="linkDelete"><button type="button" id="confirmDelete">OUI</button></a>
    <button type="button" class="deleteModalClose">NON</button>
</div>
<p class="title title--admin">Edition section compétences</p>
<div class="formDiv">
    {{ form_start(skillForm, {'action' : path('admin_listSkills'), 'attr' : {'id' : 'skills_form'}}) }}

    <div class="form_row">
        {{ form_label(skillForm.name) }}
        {{ form_widget(skillForm.name) }}
        {{ form_label(skillForm.color) }}
        {{ form_widget(skillForm.color) }}
        {{ form_label(skillForm.value) }}
        {{ form_widget(skillForm.value) }}
        {{ form_label(skillForm.description) }}
        {{ form_widget(skillForm.description) }}
        {{ form_label(skillForm.icon) }}
        {{ form_widget(skillForm.icon) }}
    </div>

    <div class="form__divButton">
        <button type="submit">Ajouter la compétence</button>
    </div>

    {{ form_end(skillForm) }}
</div>

<div class="skillsTable">
    <table class="zui-table">
        <thead>
            <tr>
                <th>Couleur</th>
                <th>Icon</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Valeur</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for skill in skills %}
            <tr>
                <td style='background-color:{{ skill.color }};'></td>
                <td>{{ skill.icon | raw}}</td>
                <td>{{ skill.name }}</td>
                <td>{{ skill.description }}</td>
                <td>{{ skill.value }}</td>
                <td>
                    <button type="button" class="edit" id="editSkill__{{ skill.id }}"><i class="fas fa-edit"></i></button>
                    <button type="button" class="delete" id="skill_{{ skill.id }}" data-name="{{ skill.name }}" data-id="{{ skill.id }}"><i class="fas fa-trash-alt"></i></button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>