<div class="container--center skill__name">
    <p class="title title--white">{{ skill.name }}</p>
    <p style="color: {{ skill.color }};">{{ skill.icon | raw }}</p>
</div>

<div class="container--center skills__description">
	<p>{{ skill.description }}</p>
</div>
