.container--center {
    display: flex;
    justify-content: center;
}

.columnContainer--center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.halfDiv {
    width: 50vw;
    padding: 1em;
}