<h1>Me contacter</h1>

{{ form_start(form, {'action' : path('app_email'), 'attr' : {'id' : 'contactForm'}}) }}
    <div class="mail__header">
        {{ form_label(form.from) }}
        {{ form_widget(form.from) }}
        {{ form_label(form.subject) }}
        {{ form_widget(form.subject) }}
    </div>
    <div class="mail__content">
        {{ form_label(form.text) }}
        {{ form_widget(form.text) }}
    </div>
    <div class="form__divButton">
        <button type="submit">Me contacter</button>
    </div>
{{ form_end(form) }}
